#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.blue-buttons {
  background-color: rgb(29, 155, 240);
  color: white;
  border-color: rgba(0, 0, 0, 0);
  min-height: 36px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

#textboxid {
  height: 100px;
  font-size: 18pt;
}

#tweetsection {
  background-color: white;
  border: 0 solid black;
  padding: 40px;
}

.tweet {
  background-color: white;
  text-align: left;
  margin: 20px;
  padding: 20px;
}

#buttonsection {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Align items to the start */
}
.tweeticon {
  margin-right: 80px;
  margin-top: 20px;
}

.usersection {
  text-align: left;
}
